



body {
  
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-image: url(./1014.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
    }

/* header styles  */

header {
   padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(82, 50, 168, .75);
    align-items: center;
        
   
}

header h1 {
    margin: 0;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 4px greenyellow;
    text-transform: uppercase;
   
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: white;
    display: flex;
    margin: 15px;
    text-shadow: 0 0 4px greenyellow;
   
    
}

h2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-shadow: 0 0 4px rebeccapurple;
    font-size: 36px;
    text-decoration: underline;
    }
    
.profilepic img {
    width: 320px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;      
}

/* section styles  */
#first-project img {
    display: flex;
    width: auto;
    align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
}


#first-caption {
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: blanchedalmond;
}

a:hover {
    color: darkmagenta;
}

#contact ul li a {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  
}

#contact ul {
    list-style-type: none;
}