/* * {
    box-sizing: border-box;
} */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* flex-wrap: wrap; */
}

/* header styles  */

header {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(82, 50, 168, 0.75);
  align-items: center;
}

header h1 {
  margin: 0;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 4px greenyellow;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: white;
  display: flex;
  margin: 15px;
  text-shadow: 0 0 4px greenyellow;
}

.banner {
  display: flex;
  background-image: url(./1014.jpg);
  height: 10em;
  width: 100%;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 2em;
}

.grid-1 {
  margin: auto;
  margin-left: 1em;
}
.profilepic img {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  border-radius: 15%;
}

.section-title {
  display: flex;
  border-right: solid white 2px;
  margin-top: 20px;
  height: 400px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;

  text-shadow: 0 0 4px rebeccapurple;
}

p {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.contact ul li {
  display: inline;
}

footer {
  font-size: small;
}

.contact ul li a {
  font-size: 15px;
  color: whitesmoke;
  padding: 75px;
  text-align: justify;
}
.contact-me {
  display: flex;
  border-right: solid white 2px;
  margin-top: 20px;
  height: 100px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;

  text-shadow: 0 0 4px rebeccapurple;
}

.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

.work img {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work img:hover {
  opacity: 25%;
}
.one img {
  display: block;
}

.one img:hover {
  opacity: 25%;
}

.mywork {
  height: 500px;;
}

/* small screens */
@media screen and (max-width: 980px) {
  header h1 {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  header nav ul li a {
    font-size: 25px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .profilepic img {
    width: 50vw;
  }

  .work img {
    width: auto;
  }
}

/* @media screen and (max-width: 768px) { }
  

@media screen and (max-width: 575px) {

}  */
